<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="handle_all_requests" path="*" verb="*" type="FbApi.AnyHandler"/>
    </handlers>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.7.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  
  <!--system.net>
    <defaultProxy enabled="true">
      <proxy proxyaddress="http://127.0.0.1:8888" usesystemdefault="true" bypassonlocal="False"/>
    </defaultProxy>
  </-system.net-->

</configuration>
